.App {
  text-align: center;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-size: cover;
}

.App-header > ul {
  list-style: none;
  text-align: left;
}

.App-header > ul > li {
  color: #ff00ff;
  display: inline;
  padding-right: 10px;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
  transition: color 300ms;
}

a:hover {
  color: #626977;
  transition: color 300ms;
}

.App-content {
  background-color: #282c34ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content-container {
  /* background-color: #444; */
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content-container > a {
  font-size: 15px;
}

.App-link {
  color: #61dafb;
}

.menu-panel {
  background-color: #282c34;
  position: fixed;
  right: -215px;
  font-size: 20px;
  height: 100vh;
  border-left: #fff 1px solid;
  width: 180px;
  padding-left: 30px;
  padding-top: 50px;
  transition: right 300ms;
}

.menu-enabled {
  right: 0px;
  transition: right 300ms;
}

.menu-panel > ul > li {
  list-style: none;
  margin-bottom: 20px;
}

.menu-panel > ul {
  text-align: left;
  padding: 0;
  margin: 20px;
}

.developer-card {
  text-align: right;
}

span.developer-slogan {
  font-size: 1.5rem;
}

h1.developer-name {
  padding: 0;
  margin: 0;
  text-shadow: #444 2px 2px;
}

.menu-button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 100px;
  cursor: pointer;
  z-index: 5;
  font-size: 40px;
  line-height: 26px;
  transition: transform 300ms;
}

.menu-button:hover {
  background-color: #626977;
  transition: background-color 300ms;
}

.menu-button-enabled {
  transform: rotate(90deg);
  transition: transform 300ms;
}

.button-line {
  background-color: #000;
  height: 5px;
  top: 13px;
  position: relative;
  width: 20px;
  left: 5px;
}

.profile-picture {
  background-image: url(./assets/pp.jpg);
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 100px;
  border: 2px solid;
  margin: auto;
}

.developer-about > p {
  text-align: left;
  /* padding: 20px; */
  font-size: 0.9em;
}

.socialMediaIcon {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 30px;
}

.socialMediaList {
  display: flex;
  flex-direction: row;
}

.twitterIcon {
  background-image: url(./assets/twitter-logo.svg);
}

.facebookIcon {
  background-image: url(./assets/facebook-logo.svg);
}

.linkedInIcon {
  background-image: url(./assets/linkedin-logo.svg);
}

.soundcloudIcon {
  background-image: url(./assets/soundcloud-logo.svg);
}
